#states{
  padding: 170px 0 200px 0;
  .states{
    h1{
      font-family: 'Gilroy', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 49px;
      color: #212121;
    }
    &--edu{
      display: flex;
      margin: 20px 0 0 0;
      .sel{
        margin: 0 30px;
        .select {
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 26px;
          line-height: 24px;
          text-transform: capitalize;
          color: #010D39;
          display: flex;
          align-items: center;
          margin: 10px 0 30px 0;
          span{
            transition: .3s;
            color: #E8C94D;
            font-size: 26px;
            font-weight: bold;
            margin: 5px 0 0 5px;
          }
        }
        .option{
          padding: 15px;
          background: #FFFFFF;
          margin-left: -10px;
          box-shadow: 4.8212px 7.71391px 24.106px rgba(0, 0, 0, 0.1);
          option{
            font-size: 13px;
            margin: 8px 0;
            letter-spacing: 1px;
          }
        }
      }
    }
    .uni{
      display: flex;
      flex-direction: column;
      padding: 50px 0;
      &--block{
        width: 1150px;
        height: 203px;
        background: #FDFDFD;
        box-shadow: 0 0 24px rgba(0, 0, 0, 0.05);
        display: flex;
        align-items: center;
        margin: 18px 0;
        transition: .3s;
        &:hover{
          transform: scale(1.05);
        }
        img{
          margin-left: 30px;
        }
        &__info{
          margin-left: 120px;
          h1{
            font-family: 'Gilroy', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 28px;
            line-height: 34px;
            color: #1AA2EE;
          }
          h2{
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #B5B5B5;
          }
          h3{
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #212121;
          }
        }
      }
    }
  }
}
@import "../../Adaptation/StudyAbroad/universities";