#header{
  background: #FFFFFF;
  box-shadow: 5px 8px 24px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: fixed;
  z-index: 90;

  .header--line{
    border: 9px solid #FF6A6A;
  }
  .header{
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--nav{
      &__link{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-transform: capitalize;
        color: #121212;
        text-decoration: none;
        padding: 0 30px;
        cursor: pointer;
      }
      .active{
        position: relative;
        span{
          width: 8px;
          height: 8px;
          background: #FF6A6A;
          border-radius: 50%;
          position: absolute;
          bottom: -8px;
          left: 45%;
        }
      }
    }
    &--choose{
      input{
        opacity: 0.95;
        border: 0.8px solid rgba(86, 9, 187, 0.2);
        border-radius: 8px;
        padding: 10px 15px;
        margin: 0 20px;
        background: rgba(255,255,255,0.37);
      }

      select{
        background: transparent;
        border: none;
        option{

          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          text-align: center;
          text-transform: capitalize;
          color: #212121;
        }
      }
    }
  }
}