#study1 {
  .study {
    font-family: 'Montserrat', sans-serif;
    margin: 100px 0;

    &--one {
      position: relative;

      &__two {
        display: flex;
        justify-content: space-between;
        z-index: -1;

        &--text {
          padding: 80px 0;

          h2 {
            color: rgba(86, 9, 187, 0.8);
            font-size: 24px;
            padding: 0 0 36px 0;
          }

          h1 {
            font-size: 64px;
            line-height: 78px;
            color: #000000;
            padding: 0 0 17px 0;
          }

          p {
            font-weight: 400;
            font-size: 18px;
            color: #606060;
          }
        }

        &--img {
          &__one {
            position: absolute;
            z-index: 1;

            &--left {
              display: flex;
              align-items: center;

              &__last {
                padding: 0 0 25px 27px;
                transition: transform 900ms ease-in-out;
                animation-duration: 2s;
                transform: translate3d(0, 10%, 0);
                animation: spin 4s infinite linear;
                animation-timing-function: ease;
                animation-fill-mode: forwards;
                animation-iteration-count: infinite;
                @keyframes spin {
                  0%, 100% {
                    transform: translateY(0);
                  }
                  50% {
                    transform: translateY(-10%);
                  }
                }

                img {
                  width: 100%;
                }
              }

              &__img1 {
                padding: 0 0 0 170px;
                transition: transform 900ms ease-in-out;
                animation-duration: 2s;
                transform: translate3d(0, -5%, 0);
                animation: tell 4s infinite linear;
                animation-timing-function: ease;
                animation-fill-mode: forwards;
                animation-iteration-count: infinite;
                @keyframes tell {
                  0%, 100% {
                    transform: translate(0, 0);
                  }
                  50% {
                    transform: translate(0, 5%);
                  }
                }

                img {
                  width: 100%;
                }
              }

            }

            &--right {
              display: flex;
              align-items: center;
              padding: 60px 0 0 0;

              &__parish {
                transition: transform 900ms ease-in-out;
                animation-duration: 2s;
                transform: translate3d(0, -5%, 0);
                animation: tell 4s infinite linear;
                animation-timing-function: ease;
                animation-fill-mode: forwards;
                animation-iteration-count: infinite;
                img {
                  width: 100%;
                }
              }

              &__city {
                padding: 40px 0 0 140px;
                transition: transform 900ms ease-in-out;
                animation-duration: 2s;
                transform: translate3d(0, 10%, 0);
                animation: make 4s infinite linear;
                animation-timing-function: ease;
                animation-fill-mode: forwards;
                animation-iteration-count: infinite;
                @keyframes make {
                  0%, 100% {
                    transform: translateY(0);
                  }
                  50% {
                    transform: translateY(-10%);
                  }
                }

                img {
                  width: 100%;
                }
              }
            }
          }

          &__frame {
            img {
              position: relative;
              z-index: -1;
              width: 700px;
              height: 650px;
            }
          }
        }
      }

      &__contact {
        position: absolute;
        bottom: -7px;
        z-index: 1;


        &--name {
          display: flex;
          align-items: center;
          background: #FFFFFF;
          box-shadow: -2px 2px 9px 1px rgba(83, 83, 83, 0.25), 2px 6px 5px 1px rgba(178, 178, 178, 0.25);
          border-radius: 80px;
          width: 821px;
          height: 104px;

          &__icons {
            display: flex;
            align-items: center;
            padding: 0 0 0 34px;

            &--one {
              background: #FDE7E9;
              opacity: 0.8;
              width: 52px;
              height: 52px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 16px;
            }

            &--text {
              padding: 0 0 0 16px;

              h1 {
                font-size: 12px;
                line-height: 15px;
                color: #212121;
              }

              span {
                font-size: 17px;
                line-height: 21px;
                color: #BBBBBB;
              }
            }
          }

          &__phone {
            display: flex;
            align-items: center;
            padding: 0 0 0 33px;

            &--one {
              background: #F8E9FC;
              opacity: 0.8;
              width: 52px;
              height: 52px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 13px;
            }

            &--text {
              padding: 0 0 0 16px;

              h1 {
                font-size: 12px;
                color: #212121;
              }

              span {
                font-weight: 400;
                font-size: 17px;
                line-height: 21px;
                color: #BBBBBB;
                padding: 10px 0 0 0;
              }
            }
          }

          &__btn {
            margin: 0 0 0 84px;

            button {
              background: #109FEF;
              border-radius: 80px;
              border: none;
              padding: 20px 80px;
              color: #FFFFFF;
            }
          }
        }
      }
    }
  }
}

#best {
  .container {
    .best {
      font-family: 'Montserrat', sans-serif;
      display: flex;
      justify-content: space-between;
      margin: 200px 0 175px 0;

      &--one {
        &__text {
          overflow: hidden;

          h1 {
            font-weight: 500;
            font-size: 48px;
            line-height: 58px;
            color: #212121
          }

          p {
            font-weight: 400;
            font-size: 18px;
            line-height: 33px;
            color: #010D39;
            padding: 30px 0 50px 0;
          }

          img {
            width: 601.63px;
            height: 350px;

            &:hover {
              transform: scale(1.1);
            }
          }

        }
      }

      &--two {
        &__book {
          &--one {
            display: flex;

            &__partners {
              margin: 0 0 0 35px;
              width: 300px;
              height: 320px;
              box-shadow: 5px 8px 24px rgba(0, 0, 0, 0.1);
              border-radius: 8px;
              background: #FFFFFF;


              &--img {
                padding: 46px 0 0 26px;
              }

              &--text {
                h1 {
                  font-size: 22px;
                  line-height: 27px;
                  color: #010D39;
                  padding: 39px 0 0 26px;
                }

                p {
                  padding: 26px 0 0 26px;
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 19px;
                  color: #001254;
                }
              }
            }
          }

          &--two {
            display: flex;

            &__partners {
              margin: 44px 0 0 35px;
              width: 300px;
              height: 320px;
              background: #FFFFFF;
              box-shadow: 5px 8px 24px rgba(0, 0, 0, 0.1);
              border-radius: 8px;

              &--img {
                padding: 47px 0 0 26px;
              }

              &--text {
                h1 {
                  font-size: 22px;
                  line-height: 27px;
                  color: #010D39;
                  padding: 39px 0 0 26px;
                }

                p {
                  padding: 26px 0 0 26px;
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 19px;
                  color: #001254;
                }
              }
            }
          }
        }
      }
    }
  }
}

#exams {
  .exams {
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 60px 0;

    &--text {
      text-align: center;

      h1 {
        font-size: 48px;
        color: #212121;
      }

      p {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #010D39;
        padding: 30px 0 63px 0;

      }
    }

    &--one {
      display: flex;
      justify-content: space-between;

      &__img {
        background: #FFFFFF;
        box-shadow: 5px 8px 24px rgba(0, 0, 0, 0.15);
        border-radius: 8px;
        width: 560px;
        height: 668px;

        &--more {
          img {
            width: 100%;
          }
        }

        &--text {
          h2 {
            font-weight: 600;
            font-size: 16px;
            color: #002AC0;
            padding: 0 0 13px 24px;
          }

          h1 {
            font-size: 18px;
            line-height: 32px;
            color: #001254;
            padding: 0 0 13px 24px;
            font-weight: 400;
          }

          p {
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            color: #000000;
            padding: 0 0 0 24px;
          }

          &__a {
            text-align: center;
            padding: 13px 0;

            a {
              text-decoration: none;
              color: #1AA2EE;
            }
          }
        }
      }

      &__block {
        &--flex {
          display: flex;
          align-items: center;
          background: #FFFFFF;
          border: 1px solid #BBBBBB;
          border-radius: 8px;
          width: 645px;
          height: 198px;
          margin: 0 0 33px 0;

          &__img {
            margin: 0 0 0 29px;

            img {

            }
          }

          &__text {
            margin: 0 0 0 22px;

            a {
              padding: 6px 12px;
              text-decoration: none;
              background: rgba(0, 117, 255, 0.15);
              border-radius: 4px;
              color: #002AC0;
            }

            h1 {
              font-size: 18px;
              line-height: 22px;
              color: #001254;
              padding: 16px 0 13px 0;
              font-weight: 500;
            }

            p {
              font-weight: 400;
              font-size: 12px;
              line-height: 12px;
              color: #010D39;
            }
          }
        }
      }
    }
  }
}

#video {
  .video {
    //position: relative;
    //.slick-slider{
    //  position: absolute;
    //  z-index: 10;
    //  background: linear-gradient(274.03deg, rgba(33, 33, 33, 0) 2.92%, rgba(0, 0, 0, 0.53) 96.41%);
    //}
    &--text {
      padding: 200px 0 100px 0;
      font-family: 'Montserrat', sans-serif;
      text-align: center;

      h1 {
        font-weight: 500;
        font-size: 44px;
        line-height: 53px;
        text-transform: capitalize;
        color: #212121;
      }
    }

    .img {

    }
  }
}

#contact {
  .contact {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    margin: 269px 0 100px 0;

    &--one {
      background: #FFFFFF;
      box-shadow: 5px 8px 26px rgba(86, 9, 187, 0.1);
      width: 671px;
      height: 590px;

      &__text {
        h1 {
          padding: 44px 0 0 43px;
          font-size: 24px;
          line-height: 29px;
          color: #212121;
        }
      }

      &__input {
        display: flex;
        padding: 50px 0 50px 43px;

        &--first {
          input {
            font-size: 16px;
            color: #BBBBBB;
            border: none;
            border-bottom: 2px solid #939393;
            outline: none;
            width: 270px;
            padding: 10px 0;
          }
        }

        &--last {
          margin: 0 0 0 45px;

          input {
            border: none;
            border-bottom: 2px solid #939393;
            outline: none;
            width: 270px;
            padding: 10px 0;
            font-size: 16px;
            color: #BBBBBB;
          }
        }

      }

      &__send {
        display: flex;
        padding: 0 0 0 43px;

        &--phone {
          input {
            font-size: 16px;
            color: #BBBBBB;
            border: none;
            border-bottom: 2px solid #939393;
            outline: none;
            width: 270px;
            padding: 10px 0;
          }
        }

        &--email {
          margin: 0 0 0 45px;

          input {
            border: none;
            border-bottom: 2px solid #939393;
            outline: none;
            width: 270px;
            padding: 10px 0;
            font-size: 16px;
            color: #BBBBBB;
          }
        }
      }

      &__group {
        padding: 60px 0 0 43px;

        input {
          border: none;
          border-bottom: 2px solid #939393;
          outline: none;
          width: 585px;
          padding: 10px 0;
        }
      }

      &__tare {
        margin: 25px 0 0 43px;

        input[type=text], select, textarea {
          border-radius: 4px;
          resize: vertical;
          outline: none;
          width: 585px;
          border: none;
          padding: 30px 0;
          border-bottom: 2px solid #939393;;
        }
      }

      &__btn {
        text-align: center;
        margin: 33px 0 31px 0;

        button {
          background: #109FEF;
          border-radius: 80px;
          padding: 20px 80px;
          border: none;
          color: #FFFFFF;
        }


      }
    }

    &--two {
      display: flex;
      position: relative;
      z-index: 1;

      &__text {
        background: rgba(86, 9, 187, 0.8);
        box-shadow: 5px 8px 26px rgba(86, 9, 187, 0.5);
        width: 509px;
        height: 590px;

        &--h1 {
          h1 {
            padding: 44px 0 0 43px;
            font-size: 24px;
            line-height: 29px;
            color: #FFFFFF;
          }
        }

        &--icons {
          display: flex;
          align-items: center;
          padding: 25px 0 0 43px;

          &__one {

            h1 {
              color: #D9D9D9;
            }
          }

          &__phone {
            padding: 0 0 0 17px;

            h1 {
              font-size: 22px;
              color: #FFFFFF;
              line-height: 27px;
            }
          }

        }

        &--email {
          display: flex;
          align-items: center;
          padding: 25px 0 0 43px;

          &__icons {
            h1 {
              color: #E6E6E6;
            }
          }

          &__text {
            h1 {
              font-size: 22px;
              line-height: 27px;
              color: #FFFFFF;
              padding: 0 0 0 17px;
            }
          }
        }

        &--telegram {
          display: flex;
          align-items: center;
          padding: 40px 0 0 43px;

          h1 {
            color: #FFFFFF;
          }
        }

        &--map {
          margin: 30px 0 30px 43px;

          iframe {
            width: 400px;
            height: 240px;
          }
        }
      }

      &__modal {
        position: absolute;
        width: 484px;
        height: 661px;
        top: -31px;
        left: 84px;
        border: 2px solid #212121;
        z-index: -1;
      }

      &__btn {
        position: relative;
        top: -50px;
        left: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        button {
          cursor: pointer;
          font-size: 20px;
          border: none;
          background: #E5EA00;
          border-radius: 50%;
          width: 50px;
          height: 50px;
        }
      }
    }
  }

  .modal {
    width: 352px;
    height: 321px;
    background: #FFFFFF;
    border-radius: 2px;
    box-shadow: 5px 8px 24px rgba(0, 0, 0, 0.1);

    &--text {
      text-align: center;
      padding: 40px 0 0 0 ;
    }

    &--one {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding: 30px 0 30px 0;
      &__what {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #0DC143;
        color: #FFFFFF;
      }

      &__inst {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #d6249f;
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        box-shadow: 0 3px 10px rgba(0, 0, 0, .25);
        color: #FFFFFF;
      }

      &__face {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #4267B2;
        color: #FFFFFF;
      }

      &__telegram {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #419FD9;
        color: #FFFFFF;
      }
    }
    &--btn{
      padding: 65px 0 0 0;
      text-align: center;
      button{
        border: none;
        padding: 15px 80px;
        border-radius: 80px;
        background: #109FEF;
        color: #FFFFFF;
      }
    }
  }
}