#hero {
  margin-top: 160px;
  font-family: 'Montserrat', sans-serif;

  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;

    &-desc {
      &_subtitle {
        font-weight: 600;
        font-size: 24px;
        text-transform: capitalize;
        color: rgba(86, 9, 187, 0.8);
      }

      &_title {
        font-weight: 600;
        font-size: 64px;
        line-height: 78px;
        letter-spacing: 0.04em;
        color: #000000;
        margin: 36px 0 17px 0;
      }

      p {
        width: 393px;
        font-weight: 400;
        font-size: 18px;
        line-height: 133.34%;
        letter-spacing: 0.04em;
        color: #606060;
      }
    }

    &-block {
      height: 600px;
      background: linear-gradient(134.3deg, rgba(255, 255, 255, 0.4) 1.2%, rgba(255, 255, 255, 0.1) 100%);
      backdrop-filter: blur(9.375px);
      border-radius: 18.75px;
      position: relative;

      &_sm-img {
        width: 165px;
        height: 165px;
        border-radius: 50%;
        animation: example 3s linear infinite alternate;

        @keyframes example {
          to {
            transform: translateY(0px);
          }
          from {
            transform: translateY(28px);
          }
        }

        img {
          width: 100%;
          height: 100%;
        }
      }

      .sm-1 {
        position: absolute;
        top: 48px;
        left: 28px;
      }

      &_lg-img {
        width: 302px;
        height: 302px;
        border-radius: 50%;
        animation: example2 3s linear infinite alternate;

        @keyframes example2 {
          to {
            transform: translateY(0px);
          }
          from {
            transform: translateY(8px);
          }
        }

        img {
          width: 100%;
          height: 100%;
        }
      }

      .lg-1 {
        position: absolute;
        top: -18px;
        right: -24px;
      }

      .lg-2 {
        position: absolute;
        bottom: -18px;
        left: -24px;
      }

      .sm-2 {
        position: absolute;
        bottom: 48px;
        right: 28px;
      }

      &_blur-top {
        width: 80%;
        height: 80%;
        border-radius: 18.75px 0 88% 0;
        overflow: hidden;
        position: relative;

        div {
          position: absolute;
          top: 0;
          left: 0;
          width: 55%;
          height: 55%;
          z-index: -1;
          background: rgba(255, 71, 71, 0.5);
          filter: blur(70.3125px);
        }
      }

      &_blur-bottom {
        width: 80%;
        height: 80%;
        border-radius: 88% 0 18.75px 0;
        overflow: hidden;
        position: absolute;
        bottom: 0;
        right: 0;

        div {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 55%;
          height: 55%;
          z-index: -1;
          background: rgba(86, 9, 187, 0.3);
          filter: blur(70.3125px);
        }
      }
    }

    &-contact {
      display: flex;
      align-items: center;
      background: #FFF;
      box-shadow: -2px 2px 9px 1px rgba(83, 83, 83, 0.25), 2px 6px 5px 1px rgba(178, 178, 178, 0.25);
      border-radius: 80px;
      padding: 24px 30px;
      position: absolute;
      bottom: -32px;
      left: 0;


      &_group {
        width: 288px;
        display: flex;
        align-items: center;
        column-gap: 16px;

        &-bg {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 52px;
          height: 52px;
          border-radius: 50%;
          background: #FDE7E9;
        }

        &-desc {
          h5 {
            font-weight: 400;
            font-size: 12px;
            color: #212121;
            margin-bottom: 10px;
          }

          input {
            border: none;
            outline: none;
            width: 70%;
            font-weight: 400;
            font-size: 17px;
            color: #000000;
          }
        }
      }

      .group-2 {
        width: 310px;
        margin-left: -30px;
      }

      &_btn {
        border: none;
        background: #109FEF;
        border-radius: 80px;
        font-weight: 500;
        font-size: 17px;
        color: #FFF;
        padding: 19px 70px;
      }
    }
  }
}

#about-us {
  padding-top: 190px;
  font-family: 'Montserrat', sans-serif;

  .about-us {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60.37px;

    &_desc {
      &-title {
        font-weight: 500;
        font-size: 48px;
        line-height: 58px;
        text-transform: capitalize;
        color: #212121;
      }

      p {
        font-weight: 400;
        font-size: 18px;
        line-height: 34px;
        text-transform: capitalize;
        color: #010D39;
        margin: 31px 0 47px 0;
      }

      &-bg {
        width: 95%;
        height: 310px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          transition: all .5s ease-in-out;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }

    &_blocks {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 35px;
      row-gap: 44px;

      &-block {
        padding: 47px 18px 69px 26px;
        background: #FFF;
        box-shadow: 5px 8px 24px rgba(0, 0, 0, 0.1);
        border-radius: 8px;

        &_bg {
          width: 46px;
          height: 46px;

          img {
            width: 100%;
            height: 100%;
          }
        }

        h4 {
          font-weight: 500;
          font-size: 22px;
          text-transform: capitalize;
          color: #010D39;
          margin: 25px 0 26px 0;
        }

        p {
          font-weight: 400;
          font-size: 14px;
          line-height: 19px;
          text-transform: capitalize;
          color: #001254;
          text-align: start;
        }
      }
    }
  }
}

#exams {
  padding-top: 175px;
  font-family: 'Montserrat', sans-serif;

  a {
    text-decoration: none;
  }

  .exams {
    &-title {
      font-weight: 500;
      font-size: 48px;
      text-transform: capitalize;
      color: #212121;
      text-align: center;
    }

    &-p {
      width: 675px;
      text-align: center;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: #010d39;
      margin: 30px auto 63px auto;
    }

    &-group {
      display: grid;
      grid-template-columns: 1fr 1.3fr;
      column-gap: 135px;

      &_block {
        background: #FFF;
        box-shadow: 5px 8px 24px rgba(0, 0, 0, 0.15);
        border-radius: 8px;

        &-bg {
          height: 320px;

          img {
            width: 100%;
            height: 100%;
          }
        }

        &-desc {
          padding: 23px 52px 28px 24px;

          &_subtitle {
            display: inline-block;
            font-weight: 600;
            font-size: 16px;
            text-transform: capitalize;
            color: #002AC0;
          }

          &_title {
            font-weight: 500;
            font-size: 18px;
            color: #001254;
            margin: 13px 0;
          }

          p {
            width: 372px;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: #000000;
            margin-bottom: 13px;
          }

          &_link {
            display: block;
            font-weight: 500;
            font-size: 14px;
            color: #1AA2EE;
            text-align: center;
          }
        }
      }

      &_blocks {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        row-gap: 19px;

        &-block {
          border: 1px solid #BBBBBB;
          border-radius: 8px;
          display: grid;
          grid-template-columns: 1fr 2fr;
          column-gap: 22px;
          align-items: start;
          padding: 19px 30px 19px 24px;

          &_bg {
            height: 132px;

            img {
              width: 100%;
              height: 100%;
            }
          }

          &_desc {
            &-link {
              font-weight: 400;
              font-size: 14px;
              text-transform: capitalize;
              color: #002AC0;
              padding: 2px 13px;
              background: rgba(0, 117, 255, 0.15);
              border-radius: 4px;
            }

            h4 {
              width: 80%;
              font-weight: 500;
              font-size: 18px;
              line-height: 22px;
              color: #001254;
              margin: 13px 0;
            }

            p {
              font-weight: 400;
              font-size: 12px;
              line-height: 15px;
              color: #010D39;
            }
          }
        }
      }
    }
  }
}


#comments {
  padding-top: 204px;
  font-family: 'Montserrat', sans-serif;

  .comments {
    &-title {
      font-weight: 500;
      font-size: 44px;
      text-transform: capitalize;
      color: #212121;
      text-align: center;
      margin-bottom: 111px;
    }

    .slick-slide > div {
      margin-right: 40px;
      width: 570px;
      height: 340px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .slick-dots {
      bottom: -34px;
    }

    .slick-dots li button:before {
      font-size: 12px;
      color: blue;
    }
  }
}


#info {
  padding-top: 265px;
  position: relative;
  font-family: 'Montserrat', sans-serif;

  .info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0;
    align-content: center;
    height: 710px;
    position: relative;
    z-index: 19;

    &-form {
      padding: 44px 43px 31px 43px;
      background: #FFF;
      box-shadow: 5px 8px 26px rgba(86, 9, 187, 0.1);

      &_title {
        font-weight: 500;
        font-size: 24px;
        text-transform: capitalize;
        color: #212121;
        margin-bottom: 30px;
      }

      &_group {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "first-name last-name"
        "phone email"
        "last-input last-input";
        column-gap: 45px;
        row-gap: 60px;
        border: none;

        input {
          border-bottom: 2px solid #939393;
          outline: none;
          padding: 10px 0;
          font-weight: 500;
          font-size: 16px;
          text-transform: capitalize;
          color: rgba(135, 135, 135, 1);

          &::placeholder {
            color: #BBBBBB;
          }
        }

        &_last-input {
          grid-area: last-input;
        }
      }

      &_comment {
        min-width: 100%;
        min-height: 85px;
        resize: vertical;
        overflow: hidden;
        margin-top: 57px;
        padding-bottom: 20px;
        border: none;
        outline: none;
        border-bottom: 2px solid #939393;
        font-weight: 500;
        font-size: 16px;
        text-transform: capitalize;
        color: rgba(135, 135, 135, 1);

        &::placeholder {
          color: #BBBBBB;
        }
      }

      &_btn {
        border: none;
        background: #109FEF;
        border-radius: 80px;
        padding: 19px 72px;
        font-weight: 500;
        font-size: 17px;
        color: #FFF;
        display: block;
        margin: 33px auto 0 auto;
      }
    }

    &-address {
      background: #5609BB;
      box-shadow: 5px 8px 26px rgba(86, 9, 187, 0.1);
      padding: 44px 55px;
      margin-right: 50px;

      h4 {
        font-weight: 500;
        font-size: 24px;
        color: #FFF;
      }

      &_group {
        display: flex;
        align-items: center;
        column-gap: 17px;
        margin: 26px 0 28px 0;

        &-icon {
          color: #FFF;
          font-size: 26px;
        }

        span {
          font-weight: 400;
          font-size: 22px;
          color: #FFF;
        }
      }

      &_icons {
        display: flex;
        align-items: center;
        column-gap: 28px;
        margin: 50px 0 41px 0;

        &-icon {
          color: #FFF;
          font-size: 26px;
        }
      }

      &_location {
        width: 420px;
        height: 290px;

        iframe {
          width: 100%;
          height: 100%;
          border: none;
          outline: none;
        }
      }
    }

    &_social-links {
      button{
        border: none;
      }
      position: absolute;
      right: 0;
      top: 0;
      width: 520px;
      height: 100%;
      z-index: -1;
      border: 2px solid #121212;

      &_circle {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        right: -30px;
        z-index: 20;
        transform: translateY(-50%);
        width: 56px;
        height: 56px;
        border-radius: 50%;
        background: #E5EA00;

        &-icon {
          font-size: 24px;
          border: none;
        }
      }
    }
  }
}


#social-modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 140;
  min-width: 100vw;
  min-height: 100vh;
  background: black;
  background: rgba(0, 0, 0, 0.8);

  .social-modal {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    z-index: 152;
    padding: 40px;
    background-color: #FFF;

    h2 {
      font-weight: 500;
      font-size: 22px;
      color: #212121;
      text-align: center;
    }

    &_icons {
      display: flex;
      align-items: center;
      column-gap: 24px;
      margin: 30px 0 90px 0;

      &-block {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        border-radius: 50%;

        &_icon {
          color: #212121;
          font-size: 24px;
        }
      }

      .whatsapp {
        background: #0DC143;
        box-shadow: 0 3px 10px rgba(0, 0, 0, .25);
      }

      .instagram {
        background: #d6249f;
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        box-shadow: 0 3px 10px rgba(0, 0, 0, .25);
      }

      .facebook {
        background: #4267B2;
        box-shadow: 0 3px 10px rgba(0, 0, 0, .25);
      }

      .telegram {
        background: #419FD9;
        box-shadow: 0 3px 10px rgba(0, 0, 0, .25);
      }
    }

    &_btn {
      background: #109FEF;
      border-radius: 80px;
      font-weight: 500;
      font-size: 18px;
      color: #fff;
      padding: 18px 70px;
      display: block;
      margin: 0 auto;
    }
  }
}
