#about-us {
  .about-us {
    display: flex;
    flex-direction: column;
    &--start {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 100px 0;
      &__images {
        &--line {
          width: 493px;
          height: 496px;
          opacity: 0.8;
          border: 3px solid #212121;
          position: relative;
        }

        &--img {
          width: 560px;
          height: 576px;
          position: absolute;
          top: 180px;
          left: 140px;
        }

      }
      &__titles {
        //margin-left: 260px;
        h1 {
          font-weight: 700;
          font-size: 16px;
          color: #6483F6;
        }

        h2 {
          width: 359px;
          font-weight: 500;
          font-size: 52px;
          line-height: 64px;
          color: #333333;
          padding: 20px 0;
        }

        h3 {
          width: 470px;
          font-weight: 400;
          font-size: 20px;
          line-height: 32px;
          color: #333333;
        }

        h4 {
          width: 470px;
          font-weight: 400;
          font-size: 16px;
          line-height: 32px;
          color: rgba(51, 51, 51, 0.5);
          padding: 20px 0;
        }
      }
    }

   h6{
     font-size: 20px;
     color: black;
     text-align: center;
   }
    &--teams{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      &__block{
        display: flex;
        align-items: center;
        flex-direction:column;
        padding: 40px;
        margin: 0 30px;
       &--about{
         width: 315px;
         height: 129px;
         background: #FFFFFF;
         box-shadow: 5px 8px 24px rgba(0, 0, 0, 0.1);
         border-radius:0 0 8px 8px;
         flex: none;
         order: 0;
         flex-grow: 0;
         h5 {
           text-align: center;
           padding: 21px 0;
         }
         h6{
           font-weight: 499;
           font-size: 20px;
           color: #000000;
         }
       }
      }


    }
  }
}





