#sol{
  padding: 150px 0;
  .sol{
    h1{
      font-family: 'Gilroy', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 49px;
    }
    &--block{
      margin: 70px 0;
      display: flex;
      align-items: start;
      justify-content: space-between;
      &__right{
        display: flex;
        flex-direction: column;
        .loc{
          width: 450px;
          border: 1px solid #BBBBBB;
          padding: 25px 0 25px 60px;
          margin-bottom: 8px;
          transition: .3s;
          &:hover{
            box-shadow: 4.6072px 7.37152px 22.1146px rgba(0, 0, 0, 0.1);
            border: none;
          }
          h2{
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
          }
        }
      }
    }
  }
}