#load {
  width: 200px;
  height: 190px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  background: #7318FB;
  left: 41%;
  top: 250px;
  animation: res 6s ease-in-out alternate;
  @keyframes res {
    0%{
      transform: scale(1);
    }
    50%{
      transform: scale(2);
    }
    99%{
      transform: scale(8);
    }
    100%{
      transform: scale(10);
    }
  }
  .load {
    margin: 50px 0 0 30px;
    position: absolute;
    width: 160px;
    height: 80px;
    overflow: hidden;
    text-align: center;
    h1 {
      font-family: 'SF Pro Display', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 78px;
      text-align: center;
      text-transform: capitalize;
      color: #FDFDFD;
      animation: text 3s alternate;
      @keyframes text {
        0%{
          transform: translateY(0);
        }
        50%{
          transition: 2s;
          transform: translateY(-450px);
        }
        99%{
          transform: translateY(-910px);
          transition: 2s;
        }
        100%{
          transform: translateY(-1000px);
        }
      }
    }
  }
}