#load {
  left: 41%;
  top: 250px;
  position: relative;
  background: #fff;
  width: 200px;
  height: 190px;
  border-radius: 50%;
  overflow: hidden;

  .load {
    margin: 50px 0 0 0;
    position: absolute;
    width: 200px;
    height: 80px;
    overflow: hidden;
    text-align: center;

    h1 {
      color: #7318FB;
      font-family: 'SF Pro Display', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 78px;
      text-align: center;
      text-transform: capitalize;
      animation: text 2s alternate;
      @keyframes text {
        0% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-180px);
        }
        70% {
          transform: translateY(-280px);
        }
        100%{
          transform: translateY(-360px);
          transition: 1s;
        }
      }
    }

  }
}